# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
.intellijPlatform/
# macOS
.DS_Store
.kotlin

# Kotlin
*.kotlin_module

# GraalVM Native Image
graal_isolate.h
graal_isolate_dynamic.h
